<div id="home" class="container-fluid">
	<div class="intro-heading">
	</div>
	<div class="trevor-circle">
		<div class="outer"></div>
		<div class="mid"></div>
		<div class="inner blink"></div>
	</div>

	<div class="row hidden-xs menu">
		<div class="col-sm-6">
			<a href="#">Who am I?</a>
		</div>
		<div class="col-sm-6">
			<a href="#">Who made me</a>
		</div>
		<div class="col-sm-6">
			<a href="#" class="bottom">Why you need me</a>
		</div>
		<div class="col-sm-6">
			<a href="#" class="bottom">How to initiate me</a>
		</div>
	</div>
	<div class="menu-helpers hidden-sm hidden-xs"></div>


	<div class="download-links"></div>


</div>
